## Python 3.10.13
flash-attn==1.0.7
flax==0.10.2
h5py==3.13.0
hjson==3.1.0
huggingface-hub==0.29.3
numpy==1.24.4
opencv==4.7.0
pandas==2.2.3
pytorch-lightning==1.9.5
pytorch-quantization==2.1.2
rdkit==2024.9.6
safetensors==0.4.5
scanpy==1.11.0
scgpt==0.2.1
scib==1.1.7
scikit-learn==1.2.0
scikit-misc==0.5.1
scipy==1.11.0
scvi-tools==0.20.3
seaborn==0.13.2
tensorboard==2.9.0
thinc==8.1.10
tokenizers==0.19.1
torch==2.1.2+cu118
torch-geometric==2.6.1
torchaudio==2.1.2+cu118
torchdata==0.7.1
torchmetrics==1.6.0
torchtext==0.16.2
torchvision==0.16.2+cu118
transformers==4.40.1
umap-learn==0.5.7
unimol_tools==0.1.2.post2